body {
	height: 100%;
	background-color: #000;
	color: #FFF;
}

.header-title {
	font-size: 26px;
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.ship-select-wrapper {

}

.mapBox {
	left: 500px;
    display: inline-block;
    position: relative;
    width: 1250px;
}

.hud {
	width: 475px;
	border: 2px solid #FFF;
}

.hud .header {
	text-align: center;
}

/*.sector {
	width: 100px;
	height: 50px;
	background-color: #000;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	border: 1px solid #FFF;
	display: block;
}*/



.sectorWrapper {
    display: inline-block;
    clear: left;
    margin: 0px 1px;
    height: 91px;
}

.sectorTop {
	border-bottom: 30px solid blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.sectorMiddle {
	width: 104px;
    height: 60px;
    line-height: 60px;
    background: blue;
    text-align: center;
}

.sectorBottom {
	width: 0;
    border-top: 30px solid blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.sectorWrapper.even {
	position: relative;
    top: 30px;
}

.sectorWrapper.odd {
	left: 53px;
    position: relative;
    top: 30px;
}

.moveLabelInput {
	margin-left: 5px;
}

.sectorTop.active {
	border-bottom: 30px solid red;
}

.sectorMiddle.active {
	background: red;
}

.sectorBottom.active {
	border-top: 30px solid red;
}
