body {
	height: 100%;
	background-color: #000;
	color: #FFF;
}

button {
	margin: 0 5px;
}

.sectorTop.solarSystem {
	border-bottom: 30px solid #103d17;
}

.sectorMiddle.solarSystem {
	background-color: #103d17;
}

.sectorBottom.solarSystem {
	border-top: 30px solid #103d17;
}

.sectorTop.openSpace {
	border-bottom: 30px solid #020824;
}

.sectorMiddle.openSpace {
	background-color: #020824;
}

.sectorBottom.openSpace {
	border-top: 30px solid #020824;
}

.sectorTop.asteroidBelt {
	border-bottom: 30px solid #3b1e02;
}

.sectorMiddle.asteroidBelt {
	background-color: #3b1e02;
}

.sectorBottom.asteroidBelt {
	border-top: 30px solid #3b1e02;
}

.header-title {
	font-size: 26px;
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.ship-select-wrapper {

}

.mapBox {
	padding-left: 50px;
    display: inline-block;
    position: relative;
    width: 1250px;
}

.hud {
	width: 475px;
	background-color: #282c42;
	border: 3px solid #1d2c7a;
	border-radius: 5px;
	height: 100%;
}

.hud .header {
	text-align: center;
}

/*.sector {
	width: 100px;
	height: 50px;
	background-color: #000;
	color: #FFF;
	line-height: 50px;
	text-align: center;
	border: 1px solid #FFF;
	display: block;
}*/

.hud.docked {
	position: absolute;
    top: 355px;
    height: auto;
}

.sectorWrapper {
    display: inline-block;
    clear: left;
    margin: 0px 1px;
    height: 91px;
}

.sectorTop {
	border-bottom: 30px solid blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.sectorMiddle {
	width: 104px;
    height: 60px;
    line-height: 60px;
    background: blue;
    text-align: center;
}

.sectorBottom {
	width: 0;
    border-top: 30px solid blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.sectorWrapper.even {
	position: relative;
    left: 53px;
}

.sectorWrapper.odd {
    position: relative;
}

.moveLabelInput {
	margin-left: 5px;
}




.sectorTop.pathingSec {
	border-bottom: 30px solid #0073e6;
}

.sectorMiddle.pathingSec {
	background: #0073e6;
}

.sectorBottom.pathingSec {
	border-top: 30px solid  #0073e6;
}




.sectorTop.active {
	border-bottom: 30px solid #06175e;
}

.sectorMiddle.active {
	background: #06175e;
}

.sectorBottom.active {
	border-top: 30px solid #06175e;
}






.sectorTop.currentSector {
	border-bottom: 30px solid #4da6ff;
}

.sectorMiddle.currentSector {
	background: #4da6ff;
}

.sectorBottom.currentSector {
	border-top: 30px solid #4da6ff;
}

.homePage {
	width: 90%;
	padding-top: 20px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.factionDescriptionContainer {
	margin: 20px 0;
}

.welcome {
	font-size: 40px;
	text-align: center;
	padding-bottom: 10px;
}

.factionDescription {
	border: 3px solid #1d2c7a;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #282c42;
}

.factionDescription div {
	font-size: 20px;
}

.startBtn {
	height: 37px;
	width: 100px;
	margin-bottom: 20px;
}

.factionDescription.uwc, .factionDescription.bfr, .factionDescription.cnp, .factionDescription.ob, .factionDescription.tscc {
	background-color: #5663a6;
	border-color: #092bdb
}

.shipData {
	background-color: #252d4d;
	/*border: 3px solid #1d2c7a;
	border-radius: 5px;*/
	padding: 5px;
}

.ControlPanel {
	padding: 5px;
}

.main-wrapper {
	display: inline-flex;
}

.uwcNpcDD {
	background-color: #0e0b8f;
	height: 20px;
    position: absolute;
    bottom: 20px;
    width: 20px;
    border-radius: 50%;
    left: 10px;
}

.bfrNpcDD {
	background-color: #eb0e42;
    height: 20px;
    position: absolute;
    bottom: -8px;
    width: 20px;
    border-radius: 50%;
    left: 27px;
}

.cnpNpcDD {
	background-color: #1fd131;
	height: 20px;
    position: absolute;
    bottom: 20px;
    width: 20px;
    border-radius: 50%;
    left: 73px;
}

.obNpcDD {
	background-color: #2debdb;
    height: 20px;
    position: absolute;
    bottom: 47px;
    width: 20px;
    border-radius: 50%;
    left: 42px;
}

.tsccNpcDD {
	background-color: #b214ba;
    height: 20px;
    position: absolute;
    bottom: -8px;
    width: 20px;
    border-radius: 50%;
    left: 58px;
}

/*.cnpNpcDD, .obNpcDD, .tsccNpcDD, .uwcNpcDD, .bfrNpcDD {
	background-color: #91070a;
}*/

.factionDescriptionHeader {
	font-size: 24px;
	padding: 10px;
}

.starterShipWrapper {
	border: 3px solid #1d2c7a;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #282c42;
}

.selectedStarterShip {
	border: 3px solid #041466;
    background-color: #3c4369;
}

.tradeGoodWrapper {
	padding: 10px;
	background-color: #252d4d;
	border: 3px solid #1b1b24;
    border-radius: 5px;
    margin-top: 5px;
}




